<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currencies</title>
</head>
<body>
      <p>EURUSD <%= data.rates.USD.toFixed(4) %></p>  
      <p>EURAUD <%= data.rates.AUD.toFixed(4) %></p>  
      <p>EURCAD <%= data.rates.CAD.toFixed(4) %></p>  
      <p>EURBGN <%= data.rates.BGN.toFixed(4) %></p>  
</body>
</html>
  